<div class="text-center">
  <button
    class="btn btn-success m-2"
    (click)="addModal()"
    data-bs-target="#exampleModal"
    data-bs-toggle="modal"
  >
    Add Employee
  </button>
</div>
<div class="text-center">
  <h5 id="testingonly">{{ hello }}</h5>
  <button (click)="changeProperty()" class="btn btn-secondary">
    Prop Change Me!
  </button>
  <h5>{{ count }}</h5>
  <button (click)="countInc()" class="btn btn-primary m-2">+1</button>
  <button (click)="countDec()" class="btn btn-danger m-2">-1</button>
</div>
<div>
  <button class="btn btn-primary" routerLink="/home">To Home Page</button>
  <button class="btn btn-success" (click)="testonly()">Login Test</button>
  <button class="btn btn-success" (click)="trythis()">Try This</button>
</div>
<div class="justify-content-end">
  <div class="text-end m-2">
    <form class="text-end float-end justify-content-end">
      <input
        type="text"
        class="form-control"
        style="width: 20rem"
        placeholder="Search..."
        name="key"
        #key="ngModel"
        ngModel
        (ngModelChange)="searchEmployees(key.value)"
      />
    </form>
  </div>
</div>

<div class="d-flex text-center justify-content-center m-5">
  <div class="m-2 card w-25" *ngFor="let employee of employees">
    <div class="card-body">
      <h5 class="m-2">{{ employee.firstname + " " + employee.lastname }}</h5>
      <p class="m-2">{{ employee.jobtitle }}</p>
      <p class="m-2">{{ employee.phonenumber }}</p>
    </div>
    <div class="m-2 text-center">
      <button
        class="btn btn-primary form-control"
        (click)="editModal(employee)"
        data-bs-target="#exampleModal"
        data-bs-toggle="modal"
      >
        Edit Me
      </button>
      <button
        class="btn btn-danger form-control"
        (click)="deleteEmployee(employee.id)"
      >
        Delete Me
      </button>
    </div>
  </div>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <form #editForm="ngForm" (ngSubmit)="editEmployee(editForm)">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Modal</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <label>Firstname</label>
            <input
              ngModel="{{ viewemployee?.firstname }}"
              type="text"
              name="firstname"
              class="form-control"
              required
            />
            <label>Lastname</label>
            <input
              ngModel="{{ viewemployee?.lastname }}"
              type="text"
              name="lastname"
              class="form-control"
              required
            />
            <label>Phone Number</label>
            <input
              ngModel="{{ viewemployee?.phonenumber }}"
              type="tel"
              name="phonenumber"
              class="form-control"
              required
            />
            <label>Job Title</label>
            <input
              ngModel="{{ viewemployee?.jobtitle }}"
              type="text"
              name="jobtitle"
              class="form-control"
              required
            />
            <input type="hidden" ngModel="{{ viewemployee?.id }}" name="id" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              [disabled]="editForm.invalid"
              class="btn btn-primary"
            >
              Save changes
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
